/*-- scss:rules --*/

#team-members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
    padding: 20px;
    justify-items: center;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    & img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
    &-info {
        & .name {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
        & .affiliation {
            font-size: 1rem;
            color: #607D8B;
        }
    }
    &-social {
        margin-top: 10px;
        & a {
            margin: 0 5px;
            font-size: 20px;
            color: #333;
            text-decoration: none;
        }
    }
}

@media (max-width: 1024px) {
    #team-members {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    #team-members {
        grid-template-columns: repeat(1, 1fr);
    }
}
